body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://internationaler-bund.org/fileadmin/user_upload/storage_ib_redaktion/IB_Org/Bilder_1350x517/International_Cooperation.png");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: white;
}



div#content {
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    background-color: #4897DB;
    padding: 15px;
   
}
div#content p{
    text-align: justify;
}

div#content img{
    float: right;
    width: 20em;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
}
div#content h2{
    color: white;
}
div#content h3{
    color: white;
    font-style: italic
}

div#content iframe{
    text-align: center;
}
div#content button{
    background-color:#34393E; 
    border: none; 
    border-radius: 8px;
    margin:15px;
    width: 90%;

}
